@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 9%;
    --emphasis: 0 0% 100%; /* #FFFFFF para o modo claro */
    --highlight: 220 20% 96%; /* #f1f2f6 para o modo claro */
    --highlighted-text: 214 6% 46%; /* #71767B para o modo claro */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 200 70% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 10% 90%;
    --secondary-foreground: 200 50% 20%;
    --muted: 200 10% 90%;
    --muted-foreground: 200 20% 40%;
    --accent: 200 30% 80%;
    --accent-foreground: 200 50% 20%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 200 20% 85%;
    --input: 200 20% 85%;
    --ring: 200 70% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 95%;
    --emphasis: 0 0% 11%; /* #1C1C1C para o modo escuro */
    --highlight: 0 0% 17%; /* #2c2c2c para o modo escuro */
    --highlighted-text: 214 10% 70%; /* Um tom claro que contrasta com o highlight */
    --card: 0 0% 11%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 95%;
    --primary: 200 70% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 15% 20%;
    --secondary-foreground: 0 0% 95%;
    --muted: 200 15% 20%;
    --muted-foreground: 200 20% 70%;
    --accent: 200 30% 30%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 200 20% 20%;
    --input: 200 20% 20%;
    --ring: 200 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
